.TodoItem {
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgb(255, 169, 111);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.089);
    padding: 1rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.content {
    display: flex;
    cursor: pointer;
    flex: 1;
    align-items: center;
}

.content svg {
    font-size: 1.5rem;
    color: rgb(250, 185, 141);
}

.content .text {
    margin-left: 0.5rem;
    flex: 1;
}

.content.checked .text{
    text-decoration: line-through;
    cursor: pointer;
    opacity: 0.6;
}